body {
  background-color: white;
}
h1 {
  background-color: #white;
  color: black;
  font-size: 4em;
  line-height: 4em;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  border: dotted red 25px;
}

#appSpace {
  background-color: red;
  color: white;
  width: 60%;
  margin: auto;
  padding: 40px;
  text-align: center;
}
